---
import Layout from "@/layouts/Layout.astro";
import PageHeader from "@/components/elements/PageHeader.astro";
import BlogSection from "@/components/sections/BlogSection.astro";
import { getCollection } from "astro:content";

const { tag } = Astro.params;
if (!tag) return Astro.redirect("/404");

let allPosts = await getCollection("post");
allPosts = allPosts.filter(p => !p.data?.draft && !p.data?.featured && p.data.tags?.includes(tag));
allPosts.sort((a, b) => new Date(b.data.publishDate).valueOf() - new Date(a.data.publishDate).valueOf());
---

<Layout title={`Posts tagged "${tag}"`}>
  <section class="relative z-20 container mx-auto my-12 px-7 lg:px-0">
    <PageHeader title={`Posts tagged "${tag}"`} description={`All posts tagged with "${tag}"`} />
  </section>

  <section class="relative z-20 mx-auto my-12 lg:px-0">
    <div class="mt-12">
      <BlogSection allPosts={allPosts} listPage={true} />
    </div>
  </section>
</Layout>